<!doctype html>
<html lang="ja">
  <head>
    <title>LULU Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../frontend/lib/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../frontend/lib/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Baloo+Bhai' rel='stylesheet' type='text/css'>
    <link href="../frontend/css/main.css" rel="stylesheet">
            
  <div class="mx-auto" style="width: 200px;">
        <div class="col-sm main">
            <div id="id-title">
                    <h1>LULU</h1>
            </div>
            <div class="form-group">
                <span class="label">User ID</span>
                <div class="form-input">
                    <input type="text" name="loginId" />
                </div>
            </div>
            <div class="form-group">
                <span class="label">Password</span>
                <div class="form-input">
                    <input type="text" name="password" />
                </div>
            </div>
        </div>
      </div>
  </div>

  </body>
</html>